# APIs

Instead of downloading World Bank data via a csv file, you're going to download the data using the World Bank APIs. The purpose of this exercise is to gain experience with another way of extracting data.

API is an acronym that stands for application programming interface. API’s provide a standardized way for two applications to talk to each other. For this project, the applications communicating with each other are the server application where World Bank stores data and your Jupyter notebook.

If you wanted to pull data directly from the World Bank’s server, you’d have to know what database system the World Bank was using. You’d also need permission to log in directly to the server, which would be a security risk for the World Bank. And if the World Bank ever migrated its data to a new system, you would have to rewrite all of your code again. The API allows you to execute code on the World Bank server without getting direct access.

# Before there were APIs

Before there were APIs, there was web scraping. People would download html directly from a website and then parse the results programatically. This practice is in a legal grey area. One reason that APIs became popular was so that companies could provide data to users and discourage web scraping.

Here are a few articles about the legality of web scraping.

* [QVC Can't Stop Web Scraping](https://www.forbes.com/sites/ericgoldman/2015/03/24/qvc-cant-stop-web-scraping/#120db59b3ca3)
* [Quora - Legality of Web Scraping](https://www.quora.com/What-is-the-legality-of-web-scraping)

All sorts of companies have public facing APIs including Facebook, Twitter, Google and Pinterest. You can pull data from these companies to create your own applications.

In this notebook, you’ll get practice using Python to pull data from the World Bank indicators API.

Here are links to information about the World Bank indicators and projects APIs if you want to learn more:
* [World Bank Indicators API](world bank projects api)
* [World Bank Projects API](http://search.worldbank.org/api/v2/projects)

# Using APIs

In general, you access APIs via the web using a web address. Within the web address, you specify the data that you want. To know how to format the web address, you need to read the documentation. Some APIs also require that you send login credentials as part of your request. The World Bank APIs are public and do not require login credentials.

The Python requests library makes working with APIs relatively simple.

# Example Indicators API

Run the code example below to request data from the World Bank Indicators API. According to the documntation, you format your request url like so:

`http://api.worldbank.org/v2/countries/` + list of country abbreviations separated by ; + `/indicators/` + indicator name + `?` + options

where options can include
* per_page - number of records to return per page
* page - which page to return - eg if there are 5000 records and 100 records per page
* date - filter by dates
* format - json or xml
 
 and a few other options that you can read about [here](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structure).

In [1]:
import requests
import pandas as pd

url = 'http://api.worldbank.org/v2/countries/br;cn;us;de/indicators/SP.POP.TOTL/?format=json&per_page=1000'
r = requests.get(url)
r.json()

[{'lastupdated': '2018-08-28',
  'page': 1,
  'pages': 1,
  'per_page': 1000,
  'total': 232},
 [{'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2017',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 209288278},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2016',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 207652865},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2015',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 205962108},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2014',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 204213133},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2013',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 202408632},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2012',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 200560983},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2011',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 198686688},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2010',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 196796269},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2009',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 194895996},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2008',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 192979029},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2007',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 191026637},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2006',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 189012412},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2005',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 186917361},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2004',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 184738458},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2003',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 182482149},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2002',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 180151021},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2001',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 177750670},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2000',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 175287587},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1999',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 172759243},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1998',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 170170640},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1997',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 167545164},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1996',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 164913306},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1995',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 162296612},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1994',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 159705123},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1993',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 157132682},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1992',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 154564278},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1991',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 151976577},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1990',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 149352145},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1989',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 146691981},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1988',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 144001542},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1987',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 141273488},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1986',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 138499464},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1985',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 135676281},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1984',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 132800684},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1983',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 129882321},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1982',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 126947365},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1981',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 124030908},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1980',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 121159761},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1979',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 118342626},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1978',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 115577669},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1977',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 112867867},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1976',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 110213082},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1975',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 107612100},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1974',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 105069367},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1973',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 102584278},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1972',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 100143598},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1971',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 97728961},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1970',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 95326793},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1969',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 92935072},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1968',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 90557064},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1967',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 88191378},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1966',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 85837799},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1965',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 83498020},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1964',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 81168654},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1963',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 78854019},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1962',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 76573248},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1961',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 74351763},
  {'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '1960',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 72207554},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2017',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1386395000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2016',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1378665000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2015',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1371220000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2014',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1364270000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2013',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1357380000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2012',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1350695000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2011',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1344130000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2010',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1337705000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2009',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1331260000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2008',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1324655000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2007',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1317885000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2006',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1311020000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2005',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1303720000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2004',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1296075000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2003',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1288400000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2002',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1280400000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2001',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1271850000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '2000',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1262645000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '1999',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1252735000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '1998',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1241935000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '1997',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1230075000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '1996',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1217550000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '1995',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1204855000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '1994',
   'decimal': 0,
   'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'},
   'obs_status': '',
   'unit': '',
   'value': 1191835000},
  {'country': {'id': 'CN', 'value': 'China'},
   'countryiso3code': 'CHN',
   'date': '1993',
   'decimal': 0,

This json data isn't quite ready for a pandas data frame. Notice that the json response is a list with two entries. The first entry is 
```
{'lastupdated': '2018-06-28',
  'page': 1,
  'pages': 1,
  'per_page': 1000,
  'total': 232}
```

That first entry is meta data about the results. For example, it says that there is one page returned with 232 results. 

The second entry is another list containing the data. This data would need some cleaning to be used in a pandas data frame. That would happen later in the transformation step of an ETL pipeline. Run the cell below to read the results into a dataframe and see what happens.

In [2]:
###
# Run this cell that converts the json into a dataframe
# Note that you do not need the pd.read_json() method because this is not a file or a string containing json 
##

pd.DataFrame(r.json()[1])

,country,countryiso3code,date,decimal,indicator,obs_status,unit,value
0,"{'id': 'BR', 'value': 'Brazil'}",BRA,2017,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,209288278
1,"{'id': 'BR', 'value': 'Brazil'}",BRA,2016,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,207652865
2,"{'id': 'BR', 'value': 'Brazil'}",BRA,2015,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,205962108
3,"{'id': 'BR', 'value': 'Brazil'}",BRA,2014,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,204213133
4,"{'id': 'BR', 'value': 'Brazil'}",BRA,2013,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,202408632
5,"{'id': 'BR', 'value': 'Brazil'}",BRA,2012,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,200560983
6,"{'id': 'BR', 'value': 'Brazil'}",BRA,2011,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,198686688
7,"{'id': 'BR', 'value': 'Brazil'}",BRA,2010,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,196796269
8,"{'id': 'BR', 'value': 'Brazil'}",BRA,2009,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,194895996
9,"{'id': 'BR', 'value': 'Brazil'}",BRA,2008,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,192979029
10,"{'id': 'BR', 'value': 'Brazil'}",BRA,2007,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,191026637
11,"{'id': 'BR', 'value': 'Brazil'}",BRA,2006,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,189012412
12,"{'id': 'BR', 'value': 'Brazil'}",BRA,2005,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,186917361
13,"{'id': 'BR', 'value': 'Brazil'}",BRA,2004,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,184738458
14,"{'id': 'BR', 'value': 'Brazil'}",BRA,2003,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,182482149
15,"{'id': 'BR', 'value': 'Brazil'}",BRA,2002,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,180151021
16,"{'id': 'BR', 'value': 'Brazil'}",BRA,2001,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,177750670
17,"{'id': 'BR', 'value': 'Brazil'}",BRA,2000,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,175287587
18,"{'id': 'BR', 'value': 'Brazil'}",BRA,1999,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,172759243
19,"{'id': 'BR', 'value': 'Brazil'}",BRA,1998,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,170170640
20,"{'id': 'BR', 'value': 'Brazil'}",BRA,1997,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,167545164
21,"{'id': 'BR', 'value': 'Brazil'}",BRA,1996,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,164913306
22,"{'id': 'BR', 'value': 'Brazil'}",BRA,1995,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,162296612
23,"{'id': 'BR', 'value': 'Brazil'}",BRA,1994,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,159705123
24,"{'id': 'BR', 'value': 'Brazil'}",BRA,1993,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,157132682
25,"{'id': 'BR', 'value': 'Brazil'}",BRA,1992,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,154564278
26,"{'id': 'BR', 'value': 'Brazil'}",BRA,1991,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,151976577
27,"{'id': 'BR', 'value': 'Brazil'}",BRA,1990,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,149352145
28,"{'id': 'BR', 'value': 'Brazil'}",BRA,1989,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,146691981
29,"{'id': 'BR', 'value': 'Brazil'}",BRA,1988,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,144001542
...,...,...,...,...,...,...,...,...
202,"{'id': 'US', 'value': 'United States'}",USA,1989,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,246819000
203,"{'id': 'US', 'value': 'United States'}",USA,1988,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,244499000
204,"{'id': 'US', 'value': 'United States'}",USA,1987,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,242289000
205,"{'id': 'US', 'value': 'United States'}",USA,1986,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,240133000
206,"{'id': 'US', 'value': 'United States'}",USA,1985,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,237924000
207,"{'id': 'US', 'value': 'United States'}",USA,1984,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,235825000
208,"{'id': 'US', 'value': 'United States'}",USA,1983,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,233792000
209,"{'id': 'US', 'value': 'United States'}",USA,1982,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,231664000
210,"{'id': 'US', 'value': 'United States'}",USA,1981,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,229466000
211,"{'id': 'US', 'value': 'United States'}",USA,1980,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,227225000
212,"{'id': 'US', 'value': 'United States'}",USA,1979,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,225055000
213,"{'id': 'US', 'value': 'United States'}",USA,1978,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,222585000
214,"{'id': 'US', 'value': 'United States'}",USA,1977,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,220239000
215,"{'id': 'US', 'value': 'United States'}",USA,1976,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,218035000
216,"{'id': 'US', 'value': 'United States'}",USA,1975,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,215973000
217,"{'id': 'US', 'value': 'United States'}",USA,1974,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,213854000
218,"{'id': 'US', 'value': 'United States'}",USA,1973,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,211909000
219,"{'id': 'US', 'value': 'United States'}",USA,1972,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,209896000
220,"{'id': 'US', 'value': 'United States'}",USA,1971,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,207661000
221,"{'id': 'US', 'value': 'United States'}",USA,1970,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,205052000
222,"{'id': 'US', 'value': 'United States'}",USA,1969,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,202677000
223,"{'id': 'US', 'value': 'United States'}",USA,1968,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,200706000
224,"{'id': 'US', 'value': 'United States'}",USA,1967,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,198712000
225,"{'id': 'US', 'value': 'United States'}",USA,1966,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,196560000
226,"{'id': 'US', 'value': 'United States'}",USA,1965,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,194303000
227,"{'id': 'US', 'value': 'United States'}",USA,1964,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,191889000
228,"{'id': 'US', 'value': 'United States'}",USA,1963,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,189242000
229,"{'id': 'US', 'value': 'United States'}",USA,1962,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,186538000
230,"{'id': 'US', 'value': 'United States'}",USA,1961,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,183691000
231,"{'id': 'US', 'value': 'United States'}",USA,1960,0,"{'id': 'SP.POP.TOTL', 'value': 'Population, to...",,,180671000

There are some issues with this dataframe. The country and indicator variables don't look particularly useful in their current form. Again, dealing with those issues would come in the transformation phase of a pipeline, which comes later in the lesson.

# Exercise Indicators API

Use the Indicators API to request rural population data for Switzerland in the years 1995 through 2001. Here are a few helpful resources:
* [documentation included how to filter by year](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structure)
* [2-character iso country codes](https://www.nationsonline.org/oneworld/country_code_list.htm)
* [search box for World Bank indicators](https://data.worldbank.org)

To find the indicator code, first search for the indicator here: https://data.worldbank.org
Click on the indicator name. The indicator code is in the url. For example, the indicator code for total population is SP.POP.TOTL, which you can see in the link [https://data.worldbank.org/indicator/SP.RUR.TOTL](https://data.worldbank.org/indicator/SP.RUR.TOTL).

In [3]:
# TODO: get the url ready
url = 'http://api.worldbank.org/v2/countries/ch/indicators/SP.RUR.TOTL/?format=json&date=1995:2001'

# TODO: send the request
r = requests.get(url)

# TODO: output the json using the json method like in the previous example
r.json()

[{'lastupdated': '2018-08-28',
  'page': 1,
  'pages': 1,
  'per_page': 50,
  'total': 7},
 [{'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '2001',
   'decimal': 0,
   'indicator': {'id': 'SP.RUR.TOTL', 'value': 'Rural population'},
   'obs_status': '',
   'unit': '',
   'value': 1928780},
  {'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '2000',
   'decimal': 0,
   'indicator': {'id': 'SP.RUR.TOTL', 'value': 'Rural population'},
   'obs_status': '',
   'unit': '',
   'value': 1916614},
  {'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1999',
   'decimal': 0,
   'indicator': {'id': 'SP.RUR.TOTL', 'value': 'Rural population'},
   'obs_status': '',
   'unit': '',
   'value': 1902230},
  {'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1998',
   'decimal': 0,
   'indicator': {'id': 'SP.RUR.TOTL', 'value': 'Rural population'},
   'obs_status': '',
   'unit': '',
   'value': 1889554},
  {'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1997',
   'decimal': 0,
   'indicator': {'id': 'SP.RUR.TOTL', 'value': 'Rural population'},
   'obs_status': '',
   'unit': '',
   'value': 1880261},
  {'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1996',
   'decimal': 0,
   'indicator': {'id': 'SP.RUR.TOTL', 'value': 'Rural population'},
   'obs_status': '',
   'unit': '',
   'value': 1872131},
  {'country': {'id': 'CH', 'value': 'Switzerland'},
   'countryiso3code': 'CHE',
   'date': '1995',
   'decimal': 0,
   'indicator': {'id': 'SP.RUR.TOTL', 'value': 'Rural population'},
   'obs_status': '',
   'unit': '',
   'value': 1860290}]]